videos
recorded_frames
/DexHandEnv/logs
*train_dir*
*wandb*
*ige_logs*
*.egg-info
/.vs
/.vscode
/_package
/shaders
._tmptext.txt
__pycache__/
/DexHandEnv/tasks/__pycache__
/DexHandEnv/utils/__pycache__
/DexHandEnv/tasks/base/__pycache__
/tools/format/.lastrun
*.pyc
_doxygen
/rlDexHandEnvgpu/logs
/DexHandEnv/benchmarks/results
/DexHandEnv/simpletests/results
*.pxd2
/tests/logs
/DexHandEnv/balance_bot.xml
/DexHandEnv/quadcopter.xml
/DexHandEnv/ingenuity.xml
logs*
nn/
runs/
.idea
outputs/
*.hydra*
/DexHandEnv/wandb
